<launch>

  <include file="$(find openni_launch)/launch/openni.launch">
    <arg name="depth_registration" default="true" />
  </include>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find sawyer_catching_ball)/rviz/pointcloud_rviz.rviz"/>
  <!-- <node pkg="dynamic_reconfigure" type="dynparam" name="dynparam" args="set /camera/driver depth_registration true /camera/driver depth_mode 6" /> -->
  <node pkg="dynamic_reconfigure" type="dynparam" name="dynparam" args="set /camera/driver depth_mode 6" />
  <!-- <node pkg="dynamic_reconfigure" type="dynparam" name="dynparam" args="set /camera/driver image_mode 2" /> -->
  <!-- <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure"/> -->
  <node name="image_view" pkg="image_view" type="image_view" args="image:=/camera/rgb/image_color"/>
  <!-- <node name="red_ball_detector" pkg="sawyer_catching_ball" type="detect_color.py"/> -->
  <!-- <node name="kinect_error_plot" pkg="sawyer_catching_ball" type="kinect_error_plot.py" -->
  <!-- 		launch-prefix="xterm -fn 10x20 -geometry 120x30 -e " required="true" > -->
  <!-- </node> -->



</launch>
